@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --button-color: rgb(32, 91, 231);
    --button-hover: rgb(0, 63, 212);
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #0093E9;
    background-image: linear-gradient(180deg, #0093E9 0%, #65b0d3 100%);
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.translate-container {
    display: flex;
    gap: 20px;
    position: relative;
}
.input-section,
.output-section {
    width: 550px;
    height: 450px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
textarea {
    width: 450px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.7);
    resize: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
select {
    width: 150px;
    height: 25px;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    outline: none;
    background: none;
}

.interaction-section {
    width: 1120px;
    height: 100px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.translate-button {
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;

    color: rgba(255, 255, 255, 1);
    background-color: var(--button-color);
}
.translate-button:hover {
    cursor: pointer;
    background-color: var(--button-hover);
}
.icon {
    width: 40px;
    height: auto;
}
.icon:hover {
    cursor: pointer;
}
.change-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20%;
    right: 535px;
    background-color: var(--button-color);
    border-radius: 10px;
}
.change-icon:hover {
    cursor: pointer;
    background-color: var(--button-hover);
}


